BUILDER_RELEASE={{ IMAGE_BUILDER.release }}
BUILDER_TARGET={{ IMAGE_BUILDER.target }}
BUILDER_ID={{ IMAGE_BUILDER.id }}
BUILDER_URL={{ IMAGE_BUILDER.url }}
BUILDER_FILE={{ IMAGE_BUILDER.file }}
BUILDER_PATH={{ IMAGE_BUILDER.path }}
BUILDER_COMMAND="{{ IMAGE_BUILDER.command }}"

{% if IMAGE_BUILDER.repositories is defined %}
BUILDER_REPOSITORIES={{ IMAGE_BUILDER.repositories }}
{% endif %}

{% if IMAGE_BUILDER.config is defined %}
{%   for key in IMAGE_BUILDER.config.keys() %}
BUILDER_CONFIG_{{ key }}={{ IMAGE_BUILDER.config[key] }}
{%   endfor %}
{% endif %}

{% for key in IMAGE_BUILDER.option.keys() %}
BUILDER_OPTION_{{ key }}="{{ IMAGE_BUILDER.option[key] | replace('\n',' ') | replace(' ','\n ') }}"
{% endfor %}

{% if IMAGE_BUILDER.output.path is defined %}
BUILDER_OUTPUT_PATH={{ IMAGE_BUILDER.output.path }}
{% endif %}
{% if IMAGE_BUILDER.output.dest is defined %}
BUILDER_OUTPUT_DEST={{ IMAGE_BUILDER.output.dest }}
{% endif %}
{% if IMAGE_BUILDER.output.mode is defined %}
BUILDER_OUTPUT_MODE={{ IMAGE_BUILDER.output.mode }}
{% endif %}
