RESIZER_SIZE={{ IMAGE_RESIZER.size }}
RESIZER_PATH={{ IMAGE_RESIZER.path }}

{% if IMAGE_RESIZER.regex is defined %}
RESIZER_REGEX={{ IMAGE_RESIZER.regex }}
{% endif %}

{% if IMAGE_RESIZER.files is defined and IMAGE_RESIZER.files | length > 0 %}
RESIZER_FILES="{% for file in IMAGE_RESIZER.files %}
{{ file }}
{% endfor %}"
{% endif %}

{% if IMAGE_RESIZER.output.mode is defined %}
RESIZER_OUTPUT_MODE={{ IMAGE_RESIZER.output.mode }}
{% endif %}
{% if IMAGE_RESIZER.output.dest is defined %}
RESIZER_OUTPUT_DEST={{ IMAGE_RESIZER.output.dest }}
{% endif %}
