CONVERTER_TYPE={{ IMAGE_CONVERTER.type }}
CONVERTER_PATH={{ IMAGE_CONVERTER.path }}

{% if IMAGE_CONVERTER.regex is defined %}
CONVERTER_REGEX={{ IMAGE_CONVERTER.regex }}
{% endif %}

{% if IMAGE_CONVERTER.files is defined and IMAGE_CONVERTER.files | length > 0 %}
CONVERTER_FILES="{% for file in IMAGE_CONVERTER.files %}
{{ file }}
{% endfor %}"
{% endif %}

{% if IMAGE_CONVERTER.output.mode is defined %}
CONVERTER_OUTPUT_MODE={{ IMAGE_CONVERTER.output.mode }}
{% endif %}
{% if IMAGE_CONVERTER.output.dest is defined %}
CONVERTER_OUTPUT_DEST={{ IMAGE_CONVERTER.output.dest }}
{% endif %}
