<?xml version="1.0" encoding="utf-8"?>
<packages>
{% for package in packages %}
  <package id="{{ package.name }}"
{%  if package.version is defined %}
    version="{{ package.version }}"
{%   endif %}
{%  if package.source is defined %}
    source="{{ package.source }}"
{%   endif %}
{%  if package.installArguments is defined %}
    installArguments="{{ package.installArguments }}"
{%   endif %}
{%  if package.packageParameters is defined %}
    installArguments="{{ package.packageParameters }}"
{%   endif %}
{%  if package.forceX86 is defined %}
    installArguments="{{ package.forceX86 }}"
{%   endif %}
{%  if package.allowMultipleVersions is defined %}
    installArguments="{{ package.allowMultipleVersions }}"
{%   endif %}
{%  if package.ignoreDependencies is defined %}
    installArguments="{{ package.ignoreDependencies }}"
{%   endif %}
{%  if package.executionTimeout is defined %}
    installArguments="{{ package.executionTimeout }}"
{%   endif %}
{%  if package.force is defined %}
    installArguments="{{ package.force }}"
{%   endif %}
    />
{% endfor %}
</packages>