version: "3.8"

volumes:
  config:
    name: external_vol-aria2-config
    external: true
  downloads:
    name: external_vol-aria2-downloads
    external: true
  completed:
    name: external_vol-aria2-completed
    external: true

services:
  aria2-pro:
    image: p3terx/aria2-pro:latest
    env_file: external_env-all.env
    volumes:
      - config:/config
{% if VARS.PROPAGATION_DOWNLOAD is sameas true %}
      - {{ VARS.BIND_DOWNLOAD }}:/downloads:shared
{% else %}
      - {{ VARS.BIND_DOWNLOAD }}:/downloads
{% endif %}
      - completed:/downloads/completed
    ports:
      - 6800:6800
      - 6888:6888
      - 6888:6888/udp
    # network_mode: bridge
    container_name: aria2-pro
    restart: always
    healthcheck:
      test: nc -z localhost 6800 || exit 1
      interval: 60s
      timeout: 5s
      retries: 10
      start_period: 10m

  ariang:
    image: p3terx/ariang:latest
    env_file: external_env-all.env
    command: --port 6880 --ipv6
    ports:
      - 6880:6880
    # network_mode: bridge
    container_name: ariang
    restart: always
