{% for package in packages %}
winget install --accept-package-agreements --accept-source-agreements ^
{% if package.id is defined %}
    --id "{{ package.id }}"
{% elif package.name is defined %}
    "{{ package.name }}"
{% else %}
    "{{ package }}"
{% endif %}
{% endfor %}